[submodule "ros-independent/speech/rasa_nlu"]
	path = ros-independent/speech/rasa_nlu
	url = https://github.com/Afrazinator/rasa_nlu.git
[submodule "src/rosaria"]
	path = src/rosaria
	url = https://github.com/amor-ros-pkg/rosaria.git
[submodule "ros-independent/webapp"]
	path = ros-independent/webapp
	url = https://github.com/abbachinomnso/humancrob
