<launch>

    <node name="RosAria"    pkg="rosaria"   type="RosAria"  output="screen">
        <param name="port"  type="string"   value="/dev/pillbot"/>
    </node>

    <node name="rplidarNode"    pkg="rplidar_ros"  type="rplidarNode" output="screen">
        <param name="serial_port"       type="string"   value="/dev/rplidar"/>  
        <param name="serial_baudrate"   type="int"      value="115200"/>
        <param name="frame_id"          type="string"   value="laser"/>
        <param name="inverted"          type="bool"     value="false"/>
        <param name="angle_compensate"  type="bool"     value="true"/>
    </node>

    <!-- <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
        <remap from="scan" to="base_scan" />
        <rosparam command="load" file="$(find pillbot_nav)/config/laser_angle_filter.yaml" />
    </node> -->
    
    <node   pkg="tf" type="static_transform_publisher" name="laser_to_baselink_tf" 
            args="0 0 0 0 0 0 base_link laser 10" /> 

    <node   name="slam_gmapping"    pkg="gmapping" 
            type="slam_gmapping"	output="screen" >
        <param name="map_update_interval"   value="5.0"/>
        <param name="temporalUpdate"        value="1.0"/>
        <param name="maxUrange"             value="6.0"/>
        <param name="linearUpdate"          value="0.5"/>
        <param name="maxRange"              value="7.5"/>
    </node>

</launch>
